.puchaform_base{ width: 80%; overflow: hidden; margin: 0 auto; height: auto;}
.puchaform_base fieldset{ margin-top: 30px;}
.puchaform_base fieldset legend{font-size:18px; font-weight:bold;}
.puchaform_base .item{width: 50%; height: 40px; line-height: 40px; float: left;}
.puchaform_base .item .left{width: 20%; height: 40px; line-height: 40px; float: left; text-align:right}
.puchaform_base .item .right{width: 80%; height: 40px; line-height: 40px; float: left;}
.puchaform_base .item .necessary{width: 20%; height: 40px; line-height: 40px; float: left; font-size: 12px; color: red}

.puchaform_base label{width: 100px; }
.puchaform_base input{width: 200px; height: 22px; padding-left: 10px; border-radius: 5px; border: solid 1px #999;}
.puchaform_base .submit{background-color:#5cb85c; width:100%; height: 100%; border-color: #4cae4c; border-radius: 5px; border: 1px solid transparent; cursor: pointer;
color: #FFFFFF;font-size: 18px; font-weight:500; text-align: center; white-space: nowrap; touch-action: manipulation;}
.puchaform_base .submit:hover{background-color:#389E48}
.puchaform_form_head{width: 80%;  margin: 0 auto; font-size: 22px; font-weight: bold; text-align: center; margin-top: 40px}
.puchaform_base .submit:hover{background-color:#389E48}